@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body{
    font-family: 'Roboto', sans-serif;
}

.box{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    text-align: center;
    font-weight: bold;
}

a{
    padding: 1rem 2rem;
    background-color: rgb(10, 10, 10);
    text-decoration: none;
    color: white;
    border-radius: 10px;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);

}
a:hover{
    background-color: rgb(103, 4, 233);
}
p{
    padding: 2rem;
}